/* CSS HSL */
:root{
--cyber-grape: hsla(269, 25%, 41%, 1);
--space-cadet: hsla(226, 42%, 22%, 1);
--dark-purple: hsla(268, 23%, 24%, 1);
--spanish-gray: hsla(270, 2%, 60%, 1);
--liberty: hsla(226, 38%, 46%, 1);
}